@import "tailwindcss";

html,
body {
  background-color: black;
  color: #ef7a33;
  font-family: "Oswald", sans-serif;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}
